
.page_review {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.image_single-review {
    max-height: 30vh;
    max-width: auto;
}

.review_header {
    background-color: var(--primary-bg-colour);
    padding: 0.3rem 0.3rem;
    border-radius: 10px;
    box-shadow: var(--secondary-shadow);
 
}

.container_header-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container_review-body {
    margin-top: 0.5rem;
    background-color: var(--tertiary-bg-colour);
    
    letter-spacing: 0.02rem;
    line-height: 1.325rem;
    color: wheat;
    text-shadow: var(--primary-shadow);
    padding: 1rem;
    box-sizing: border-box;
    border: 05px double var(--secondary-bg-colour);
    box-shadow: var(--primary-shadow);
    border-radius: 10px;
}

.button_inc-review-vote, .button_dec-review-vote {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: wheat;
    border: 3px outset var(--primary-bg-colour);
    
    background-color: var(--tertiary-bg-colour);
    text-shadow: var(--primary-text-outline);
    box-shadow: var(--primary-shadow);
    margin: 0.5rem 0.35rem;
}

.button_inc-review-vote:hover, .button_dec-review-vote:hover {
    transform: scale(110%);
    cursor: pointer;
    filter: brightness(120%);
}

.button_inc-review-vote:active, .button_dec-review-vote:active {
    transform: scale(95%);
    cursor: pointer;
    filter: brightness(90%);
    border-style: ridge;
}
