.container_review-list > ul {
    margin-top: 0.5rem;
    max-height: 80vh;
}
.list_review:nth-child(odd){
    border: 5px inset var(--secondary-text-colour);
    filter: brightness(120%);
}

.list_review:nth-child(odd):hover {
    border: 5px outset var(--secondary-text-colour);
}
.list_review {
    list-style: none;
    padding-top: 0.5rem;
    color: var(--secondary-text-colour);
    border: 5px outset var(--secondary-text-colour);
    min-width: 93%;
    margin: 0.3rem;
    background-color: var(--primary-bg-colour);
    border-radius: 10px;
    font-weight: bolder;
    
}

.list_review:hover {
    border: 5px inset var(--secondary-text-colour);
    cursor: pointer;
    transform: scale(101%);
    filter: brightness(130%);
    color: var(--secondary-bg-colour);
}

.ul-container_reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    max-height: 60vh;
    max-width: 85vw;
    margin-bottom: 1rem;
}


.image_reviews-list {
    max-width: 10vw;
    
}

::-webkit-scrollbar {
    background-color: var(--scrollbar-bg-colour);
    filter: brightness(200%);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bar-colour);
    border: 2px solid var(--scrollbar-border-colour);
    border-radius: 5px;
}