.App {
  text-align: center;
  

  --primary-text-colour: rgb(64, 136, 235);
  --secondary-text-colour: rgb(114, 154, 211);
}

/*Temp Styling*/


ul {
  display: flex;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_search {
  border: 3px solid green;
}

.hidden { 
  display: none;
}

